/* General */
*{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  max-width: 100%;
  font-size: 62.5%;
}
body{
  font-size: 16px;
  height: 100%;
  width: 100%;
  background-image: url(../Multimedia/intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.anun{
  position: absolute;
  top: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  color: black;
  font-size: 2rem;
}
.anun a{
  color: blue;

}
.anun a:hover{
  color: red;
}
/* Intro blanco */
.intro{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
}
/* nav */
#nav{
  background-color: rgb(27, 35, 64);
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#nav h1{
  margin-left: 2%;
  font-size: 1.5vw;
}
/* principal */
.Frame-primary{
  background-image: url(../Multimedia/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  top: 4.44%;
  left: 24.8%;
  width:48.4%;
  height: 57%;
}
.inicio{
  background-color: transparent;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-banner{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #1e2326;
  height: 100%;
  width: 34%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.text-banner{
  height: 30%;
  width: 90%;
}
.text-banner h1 {
  font-size: 2vw;
}
.text-banner h2 {
  font-size: 1.3vw;
}
.h2T{
  margin-bottom: 1rem;
}
.content-img{
  margin-top: 5%;
  border-radius:  5rem;
  width: 40%;
  height: 30%;
}
.content-img img{
  border-radius:  5rem;
  width: 100%;
  height: 100%;
}
.redes{
  display: flex;
  gap: 0.4rem;
  width: 86%;
  height: 20%;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.fa-brands{
  width: 80%;
  height: 50%;
  border: black 2px solid;
}
.fa-brands:hover{
  transform: scale(1.2);
}
/* --- contenedores --- */
.content-r{
  height: 100%;
  width: 33%;
  backdrop-filter: blur(8px);
  display: flex;
}
.content-l{
  height: 100%;
  width: 33%;
  backdrop-filter: blur(8px);
  display: flex;
}
.RCon{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.LCon{
  width: 90%;
  height: 100%;
}
#Lc{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textTrans{
  color: rgba(0, 0, 0, 0.564);
  background-color: rgba(250, 235, 215, 0.119);
  border-radius: 2.5rem;
  padding: 7px 8px 5px;
  border: 1px solid white;
  font-size: 3rem;
  display: block;
}
.textTrans:hover{
  transform: scale(1.05);
  color: black;
  cursor: pointer ;
}
.ctn-btn{
  width:10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnLateral{
  width:100% ;
  height: 20% ;
  background-color: transparent;
  border: 0;
  display: flex; 
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
}
.btnLateral img:hover{
  border: rgb(244, 77, 17) solid 1.5px;
  transform: scale(1.14);
  width: 3.4rem ;
  height: 3.4rem;
  background-color: rgba(255, 111, 0, 0.615);
  cursor: pointer ;
}
.btnLateral img{
  width: 4rem ;
  height: 4rem;
  border: rgb(181, 179, 179) solid 2px;
  border-radius: 6rem;
  background-color: rgb(181, 179, 179);
}
#btnr{
  display: none;
}
#btnl{
  display: none;
}
.conLeft{
  border: solid 2px red;
  width: 90%;
  height: 90%;
  display: none;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  border-radius: 1rem;
}
.miniNav{
  width: 100%;
  height: 5%;
  background-color: aliceblue;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
}
.btnOption{
width: 33%;
border: 0;
background-color: transparent;
text-align: center;
font-size: 1.5rem;
text-shadow: 0 -2px yellow ;
}
.btnOption:hover{
  background-color: antiquewhite;
  
}
.conteL{
  width: 100%;
  height: 95%;
  background-color: antiquewhite;
  border-radius: 1rem;
}
.conRight{
  width: 90%;
  height: 90%;
  display: none;
  gap: .9rem;
  flex-direction: column;
}
.conCard1, .conCard2,.conCard3{
  width: 100%;
  display: flex;
  gap: .5rem;
  height: 30%;
}
.card{
  border: 2px solid green;
  background-color: rgba(250, 235, 215, 0.208);
  width: 28%;
  height: 100%;
  border-radius: 3rem;
}