/* General */
*{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
 box-sizing: border-box;
  text-align: center;
  
  height: 100%;
  max-width: 100%;
  font-size: 62.5%;
  
}

body{
font-size: 16px;
height: 100%;
width: 100%;
background-image: url(../Multimedia/intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  
}

/* Intro blanco */
.intro{
position: absolute;
top: 0;
width: 100%;
height: 100%;
display: block;
background-color: white;

}

/* Principal */

/* nav */
#nav{
  background-color: rgb(27, 35, 64);
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#nav h1{
  margin-left: 2%;
  font-size: 1.5vw;
}

/* principal */
.Frame-primary{
  
  background-image: url(../Multimedia/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
position: relative;

top: 4.44%;
left: 24.8%;
width:48.4%;
height: 57%;
}


.inicio{
  background-color: transparent;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.content-banner{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #1e2326;
  height: 100%;
  width: 34%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  
}
.text-banner{
  height: 30%;

  width: 90%;
}
  
  
.text-banner h1 {
  font-size: 2vw;
}
.text-banner h2 {
  font-size: 1.3vw;
}
.h2T{
  margin-bottom: 1rem;
}

.content-r{
  height: 100%;
  width: 33%;
  backdrop-filter: blur(8px)
}
.content-l{
  height: 100%;
  width: 33%;
  backdrop-filter: blur(8px)
}
.content-img{
  margin-top: 5%;

  border-radius:  5rem;
  width: 40%;
  height: 30%;
}
.content-img img{
  border-radius:  5rem;
  width: 100%;
  height: 100%;
}
.redes{

  display: flex;
  gap: 0.4rem;
  width: 86%;
  height: 20%;
  display: flex; 
  justify-content: center;
  align-items: center;

}
.fa-brands{
  width: 80%;
  height: 50%;
  border: black 2px solid;
 
}
.fa-brands:hover{
  transform: scale(1.2);
}
/* --- contenedores --- */